{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    {% block h2 %}Les lieux{% endblock %}
    {% block content %}
        {%for Lieu in Lieux %}
        <section class="lesLieux">
            <div class="lieu">
                <img src={{ asset("media/")}}{{ Lieu.getImage}} class="lieu_image">
                <div class="lieu_details">
                    <p>{{ Lieu.getLieu }}</p>
                    <br>
                    <p>La capacité de l'établissement est de : {{ Lieu.getCapacite }} places</p>
                    <br>
                    <p>L'adresse est au : {{ Lieu.getAdresse }} </p>
                </div>
            </div>
        </section>
        {% endfor %}
    {% endblock %}
{% endblock %}
