{% extends 'base.html.twig' %}

{% block title %}Les manifestations de la ville.{% endblock %}

{% block body %}
    {% block content %}
        {{ form(form) }}
        <section class="template_manifestation">
        {% for Manifestation in Manifestations %}
                <div class="manifestation">
                    <a href=./manifestation/{{ Manifestation.GetId }}><img src={{ asset('media/') }}{{ Manifestation.getAffiche }} class="image_manifestation"></a>
                    <img src={{ asset('media/notice.png')}} alt="icone_notice" class="notice">
                    <p>{{ Manifestation.getDate }}</p>
                    <p>{{ Manifestation.getTitre }}</p>
                    <p>{{ Manifestation.getDescription }}</p>
                    <p>{{ Manifestation.getLieu.getLieu }}</p>
                </div>
            {% endfor %}
        </section>
    {% endblock %}
{% endblock %}