{% extends 'base.html.twig' %}

{% block title %}Les manifestations de la ville.{% endblock %}

{% block body %}
    {% block content %}

        {{ form(form) }}
        <section class="template_manifestation">
            {% if app.request.method == 'POST' %}
        {% for ManifestationSearch in ManifestationsSearch %}
                <div class="manifestation">
                    <a href=./manifestation/{{ ManifestationSearch.GetId }}><img src={{ asset('media/') }}{{ ManifestationSearch.getAffiche }} class="image_manifestation"></a>
                    <p></p>
                    <p>{{ ManifestationSearch.getDate }}</p>
                    <p>{{ ManifestationSearch.getTitre }}</p>
                    <p>{{ ManifestationSearch.getDescription }}</p>
                    <p>{{ ManifestationSearch.getLieu.getLieu }}</p>
                </div>
            {% endfor %}
            {% else %}
            {% for Manifestation in Manifestations %}
                <div class="manifestation">
                    <a href=./manifestation/{{ Manifestation.GetId }}><img src={{ asset('media/') }}{{ Manifestation.getAffiche }} class="image_manifestation"></a>
                    <p></p>
                    <p>{{ Manifestation.getDate }}</p>
                    <p>{{ Manifestation.getTitre }}</p>
                    <p>{{ Manifestation.getDescription }}</p>
                    <p>{{ Manifestation.getLieu.getLieu }}</p>
                </div>
            {% endfor %}
            {% endif %}
        </section>
        <div style="margin-bottom: 8%"></div>
    {% endblock %}
{% endblock %}